<!DOCTYPE html>
<html ng-app="BlogAppModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blogotype</title>

    <link href="~/Content/bootswatch/readable/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

	<meta name="description" content="A site to create and view blogs." />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" id="header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">Blogotype</a>
            </div>
            <div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						@Html.ActionLink("Browse Blogs", "BrowseBlogs", "Blogs")
					</li>
					<li>
						<form class="navbar-form navbar-left" role="search" action="@Url.Action("Search", "Search")" method="get">
							<div class="form-group">
								<label class="sr-only" for="search">Search</label>
								<div class="input-group">
									<input type="text" class="form-control" id="search" name="filter" placeholder="Search" />
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default">Search</button>
									</span>
								</div>
							</div>
						</form>
					</li>
				</ul>
                @Html.Partial("_LoginPartial")
                
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-left">
                &copy; @DateTime.Now.Year - E.D.T.(Emhiru Development Team)
            </p>
            <p class="pull-right">
                <a href="#">Back to top</a>
            </p>
        </footer>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
		<script src="~/Scripts/angular.min.js"></script>
		<script src="~/MyScripts/angular-module.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
