@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var db = BlogApp.Models.ApplicationDbContext.Create();
        var user = db.Users.Find(User.Identity.GetUserId());

        @Html.AntiForgeryToken()



            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Hello " + user.GetName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li>
                    <a href="@Url.Action("Index", "CreateBlogs")">My Blogs</a>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
            </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { @returnUrl = Request.Url.PathAndQuery, }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
