@model BlogApp.Models.HomeViewModel
@{
	ViewBag.Title = "Home";
}

<section class="row">
	<div class="col-xs-12 col-sm-4">
		<h3>New Blogs</h3>
		@foreach (var blog in Model.Blogs)
		{
			<section class="panel well-sm clearfix">
				<span>
					@Html.ActionLink(blog.Title, "ViewBlog", "Blogs", new { @blogId = blog.Id }, null)
				</span>
				<span class="pull-right">
					<strong>Created on</strong> @blog.Date.ToLocalTime().ToShortDateString()
				</span>
			</section>
		}
	</div>

	<section class="col-xs-12 col-sm-4">
		<h3>New Posts</h3>
		@foreach (var post in Model.Posts)
		{
			<section class="panel well-sm clearfix">
				<span>
					<a href="@Url.Action("ViewBlog", "Blogs", new { @blogId = post.Blog.Id }, null)#@post.Id">
						@post.Title
					</a>
				</span>
				<span class="pull-right">
					<strong>Posted on</strong> @post.Date.ToLocalTime().ToString()
				</span>
			</section>
		}
	</section>

	<section class="col-xs-12 col-sm-4">
		<h3>New Users</h3>
		@foreach (var user in Model.Users)
		{
			<section class="panel well-sm clearfix">
				<span>
					@Html.ActionLink(user.GetName(), "ViewUserBlogs", "Blogs", new { @userId = user.Id }, null)
				</span>
				<span class="pull-right">
					<strong>Joined on</strong> @user.Joined.ToLocalTime().ToShortDateString()
				</span>
			</section>
		}
	</section>
</section>